extends layout

block content
  br
  h1= titl
  -var maxNumberOfStudents = 18;
  .my-jumbotron
    input(type="text" id="inputSearch" onkeyup="mySearch()" placeholder="Szukaj po nazwie kursu..." title="Type in a name")
    table(id="allApplicationsTable").table.table-bordered.table-hover.join-table
      thead
        tr
          th Id
          th Kod Przedmiotu
          th Nazwa Kursu
          th Rodzaj Kursu
          th Rok akademicki
          th Semestr
          th Liczba członków
          th Dopisz się do wniosku
      tbody
          if (rows)
           each item in rows
            tr
              td= item.ID
              td= item.KodPrzedmiotu
              td= item.NazwaKursu
              td= item.nazwaRodzajuKursu
              td= item.Rocznik
              td= item.nazwaSemestru
              td.text-center= item.numberOfStudents
              td
                if(item.numberOfStudents>=maxNumberOfStudents)
                  button.btn.btn-outline-primary(disabled)  Dopisz mnie
                else
                  button.btn.btn-outline-primary(id='button'+item.ID onClick="joinApplicationId("+item.ID+");")  Dopisz mnie


  script.
    function mySearch() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("inputSearch");
      filter = input.value.toUpperCase();
      table = document.getElementById("allApplicationsTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
