body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  margin: 5px;
  display: inline-block;
}

/** index */

.cursive {
  font-style: italic;
}

.div-button {
  width: 250px;
  margin: 20px;
  padding: 20px;
  min-height: 300px;
  background-color: rgba(160, 196, 226, 0.79);
  border-radius: 10%;
  display: inline-table;
}
.div-button:hover {
  background-color:rgba(197, 214, 227, 0.79);
  cursor: pointer;
}
.div-flex {
  display: flex;
  justify-content: center;
	flex-wrap: wrap;
}

.home-page-img {
  padding: 20px;
  background-image: url("../images/home_img.jpg");
  background-size: 100% 300px;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

.div-header {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
}

.nav-align {
	vertical-align: middle;
	text-align: center;
}

.navbar-toggler-icon{
  padding: 25px !important;
}
/** join_application */

.join-table {
  background-color: white;
  text-align: center;
}

@media (min-width: 576px) {
  .my-jumbotron {
    padding: 4rem 2rem;
  }
}

.my-jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: rgba(235, 237, 238, 0.1);
    border-color: black;
    border-radius: .3rem;
}

#inputSearch {
  background-image: url('../images/search.png');
  background-size: 30px 30px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

/** create_new_application */
.next-button {
  width: 100px;
  height:100px;
  background-image: url("../images/next.png");
  background-size: cover;
  background-color: white;
  border-radius: 150px;
}

.prev-button {
  width: 100px;
  height:100px;
  background-image: url("../images/prev.png");
  background-size: cover;
  background-color: white;
  border-radius: 150px;
}

.next-button:hover, .prev-button:hover  {
  cursor: pointer;
  background-color: #ccc;
  box-shadow: 0px 10px 7px #ccc;
}
.vertical-align {
    display: flex;
    align-items: center;
}

/** create_new_application 2 */
#check, #check1 {
  fill: none;
  stroke: green;
  stroke-width: 20;
  stroke-linecap: round;
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
-webkit-@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
.teacherAllowance {
  width:100%;
  height: 50%;
  padding-top: 40px;
  text-align: center;
}

.svgCheckContainer1, .svgCheckContainer2 {
  display: none;
}

/** popups */

button#popupS-button-ok {
	width: 30%;
	padding: 10px;
	margin: 10% 10% 0 10%;
	background-color: rgba(121, 187, 232, 1);
	border-bottom: 5px solid #2980B9;
	border-radius: 10px;
	font-weight: bold;
	font-size: 15px;
	color: #FFF;
}

button#popupS-button-ok:hover {
	background-color: rgba(47, 158, 233, 1);
}

button#popupS-button-ok:active {
	background-color: rgba(46, 121, 172, 1);
}

button#popupS-button-cancel {
	width: 30%;
	padding: 10px;
	margin: 10% 10% 0 10%;
	background-color: rgba(178, 195, 207, 1);
	border-bottom: 5px solid rgba(82, 86, 89, 1);
	border-radius: 10px;
	font-weight: bold;
	font-size: 15px;
	color: #FFF;
}

button#popupS-button-cancel:hover {
	background-color: rgba(151, 164, 173, 1);
}
button#popupS-button-cancel:active{
	background-color: rgba(116, 127, 134, 1);
}
button#popupS-button-ok:focus, button#popupS-button-cancel:focus {
	outline:0;
}

.popupS-content:not(p){
	max-width:700px;
	padding:40px;
	border-radius:6px;


}
